<section class="py-16 sm:py-20" id="about">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-wrap gap-4 md:flex-nowrap">
      <div class="md:w-2/3">
        <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">About MIANS</h2>
        <h3 class="mb-6 text-2xl font-semibold">Bridging Innovation and Business</h3>
        <p class="text-gray-700 dark:text-gray-300 text-lg">
          At MIANS, we’re here to bring your ideas to life. Founded on July 20, 2020, our mission
          has always been to bridge business needs with smart & effective digital solutions. We’re
          proud to create the <b>Reflection of your Desires</b> crafting your visions into scalable
          digital assets.helping you achieve your goals with precision and creativity
        </p>
      </div>
      <div class="md:w-1/3">
        <!-- <p
          class="custom-justify text-justify text-base text-primary-950/70 dark:text-primary-200/70 sm:text-lg"
        >
          At MIANS, we’re here to bring your ideas to life. Founded on July 20, 2020, our mission
          has always been to bridge business needs with smart & effective digital solutions. We’re
          proud to create the <b>Reflection of your Desires</b> crafting your visions into scalable
          digital assets.helping you achieve your goals with precision and creativity
        </p> -->
        <!-- <a
          href="/about"
          class="inline-flex items-center justify-center rounded-lg border border-transparent bg-primary-600 px-5 py-3 text-base font-medium text-white transition hover:bg-primary-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-600 dark:bg-primary-400 dark:text-primary-950 dark:hover:bg-primary-300 dark:hover:text-primary-50 dark:focus-visible:outline-primary-400"
        >
          Read about us
        </a> -->
        <img
          class="mx-auto hidden w-full max-w-xs rounded-3xl sm:max-w-sm md:max-w-md lg:block lg:max-w-xl"
          height="900"
          src="/MIANS/assets/about-mians.svg"
          alt="Our experts working together"
        />
      </div>
    </div>
  </div>
</section>
